@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Indie+Flower&family=Lobster&family=Moon+Dance&family=Oswald:wght@200&family=Patrick+Hand&family=Poppins:ital,wght@0,200;0,700;0,800;0,900;1,900&family=Source+Sans+Pro&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    padding: 4em 0;
}

header nav{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .logo{
    width: 5em;
    height: 4em;
    display: flex;
    position: relative;
}

header nav .logo img{
    position: absolute;
    width: 80%;
}

header nav .logo img:nth-child(1){
    left: 5px;
    z-index: 2;
}

header nav .logo img:nth-child(2){
    left: 10px;
    z-index: 2;
}

header nav .logo img:nth-child(3){
    left: 15px;
    z-index: 3;
}

header nav .logo img:nth-child(4){
    left: 20px;
    z-index: 4;
}

header nav .logo img:nth-child(5){
    right: 13px;
    top: 15px;
    z-index: 5;
    width: 1.5em;
}

header nav ul{
    display: flex;
}

header nav ul li{
    margin-left: 25px;
}

header nav ul li a{
    color: black;
    padding-bottom: 5px;
}

header nav ul li a:hover{
    color: #6D0AD3;
    border-bottom: solid 5px #6D0AD3;
}

section{
    width: 80%;
    margin: auto;
    margin-bottom: 5em;
    display: flex;
    flex-direction: row-reverse;
}

section figure{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

section figure .imagenes-figure{
    display: flex;
    flex-direction: column;
}

section article{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section article h1{
    font-size: 3em;
    color: #80E7CA;
}

section article p{
    border-left: solid 5px #80E7CA;
    padding-left: 1em;
    width: 80%;
}

section article .redes{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
}

section article a{
    display: inline;
    padding: 15px 35px;
    background-color: #6D0AD3;
    width: 13em;
    text-align: center;
    margin-right: 2.5em;
    color: white;
}

section article ul li img{
    margin-right: 10px;
}

.down{
    display: block;
    margin: 0px auto;
}

.section-2{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

.section-2 h3{
    margin-bottom: 1em;
    color: #0098EF;
    font-size: 25px;
}

.grid-imagenes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    grid-row-gap: 40px;
}

.section-3{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3 h3{
    align-self: flex-start;
    margin-bottom: 1.5em;
    color: #0098EF;
    font-size: 25px;
}

.section-3 .services-imagenes{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.section-3 .services-imagenes div{
    width: 308px;
    height: 218px;
    background-color: #00CF95;
    position: relative;
    border: solid #D1FFA2 3px;
}

.section-3 .services-imagenes div:hover{
    border: solid #5A0CB0 3px;
}

.section-3 .services-imagenes div:hover p{
    background-color: #5A0CB0;
    color: white;
}

.section-3 .services-imagenes div img{
    position: absolute;
    top: 20px;
    left: 20px;
}

.section-3 .services-imagenes div p{
    position: absolute;
    width: 8em;
    background-color: #D1FFA2;
    bottom: 20px;
    right: 0;
    text-align: end;
    padding-right: 20px;
}

.section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-4 h3{
    color: #0098EF;
    font-size: 25px;
    align-self: flex-start;
    margin-bottom: 25px;
}

.section-4 .content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    font-size: 13px;
}

.section-4 .content a{
    text-decoration: underline;
}
.section-4 .content div:nth-child(1) img{
    width: 100%;
}

.section-4 .content div:nth-child(2) img,
.section-4 .content div:nth-child(5) img{
    width: 12em;
}

.section-4 .content div:nth-child(3) img{
    margin-top: 15px;
}

.section-4 .content div:nth-child(2){
    display: flex;
}

.section-4 .content div:nth-child(2) h4,
.section-4 .content div:nth-child(3) h4,
.section-4 .content div:nth-child(5) h4{
    border-left: solid #C4C4C4;
    padding-left: 5px;
    margin-bottom: 10px;
}

.section-4 .content div:nth-child(4){
    font-size: 14px;
}

.section-4 .content div:nth-child(4) h4{
    font-size: 28px;
    border-left: solid #5A0CB0;
    padding-left: 10px;
}

.section-4 .content div:nth-child(5){
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    font-size: 13px;
}

.section-4 .content div:nth-child(6){
    font-size: 18px;
}

.imput, button{
    border: solid #6D0AD3 1px;
    height: 50px;
    padding: 10px 10px;
    display: inline;
    width: 170px;
    border-radius: 8px 0px 0px 8px;
    margin-top: 30px;
}
button{
    margin-left: -5px;
    background-color: #5A0CB0;
    color: white;
    font-size: 13px;
    width: 120px;
    border-radius: 0px 8px 8px 0px;
}
.imput:focus{
    outline: none;
}

.section-5{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-5 h3{
    color: #0098EF;
    font-size: 25px;
    align-self: flex-start;
    margin-bottom: 25px;
}

.section-5 .contenido{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-5 .contenido .content{
    width: 40em;
}

.section-5 .contenido .imput1, .imput2,
.section-5 .contenido .select1, .select2{
    width: 23.5em;
    padding: 18px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: solid #6D0AD3 2px;
}

.section-5 .contenido .imput1:hover, .imput2:hover,
.section-5 .contenido .select1:hover, .select2:hover{
    border: solid #D1FFA2 2px;
    cursor: pointer;
}

.section-5 .contenido .imput1:focus,
.section-5 .contenido .imput2:focus,
.section-5 .contenido textarea:focus{
    outline: none;
}

textarea{
    width: 47.5em;
    height: 10em;
    resize: none;
    border: solid #6D0AD3 2px;
    padding: 18px 15px;
}

textarea:hover{
    border: solid #D1FFA2 2px;
    cursor: pointer;
}

.section-5 button{
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
}

footer{
    width: 100%;
    height: 100%;
    border-top: solid #80E7CA 2px;
    /* display: flex;
    justify-content: space-evenly; */
}

footer div{
    width: 5em;
    height: 4em;
    display: flex;
    position: relative;
}

footer .logo img{
    position: absolute;
    width: 80%;
}

footer .logo img:nth-child(1){
    left: 5px;
    z-index: 2;
}

footer .logo img:nth-child(2){
    left: 10px;
    z-index: 2;
}

footer .logo img:nth-child(3){
    left: 15px;
    z-index: 3;
}

footer .logo img:nth-child(4){
    left: 20px;
    z-index: 4;
}

footer .logo img:nth-child(5){
    right: 13px;
    top: 15px;
    z-index: 5;
    width: 1.5em;
}


footer .daw{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0 10%;
    margin-bottom: 50px;
    margin-top: 30px;
}

footer .daw h6{
    font-size: 27px;
    text-align: center;
    color: #80E7CA;
    font-weight: 100;
}

footer .daw .imagenes{
    display: flex;
    flex-direction: row-reverse;
}

footer .daw .imagenes img{
    width: 1.5em;
    height: 1.5em;
    margin: 0 5px;
}

footer .footer-content{
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

footer .footer-content ul{
    display: flex;
}

footer .footer-content ul li a{
    margin: 0 10px;
    color: black;
    padding-bottom: 5px;
}

footer .footer-content ul li a:hover{
    color: #6D0AD3;
    border-bottom: solid 5px #6D0AD3;
}

footer .footer-content p{
    display: block;
}

footer .footer-content p{
    margin-top: 30px;
}